.reportsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cardsGrid {
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .cardsGrid {
    gap: 8px;
    flex-wrap: nowrap;
  }
}

.errorBox {
  padding: 16px;
  border: 1px solid var(--chakra-colors-red-200);
  border-radius: 8px;
  width: 100%;
  background-color: var(--chakra-colors-red-50);
}

.errorText {
  color: var(--chakra-colors-red-500);
}
