.homeContainer {
  min-height: calc(100vh - 69px - 80px); /* Total viewport - navbar - mainContainer padding */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

@media screen and (max-width: 480px) {
  .homeContainer {
    min-height: calc(100vh - 69px - 32px); /* Corrected padding for mobile */
    padding: 16px;
  }
}

.contentStack {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  align-items: center;
}

.buttonWrapper {
  padding-top: 16px;
}
